.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 150px;
  background: linear-gradient(180deg, rgba(48, 48, 49, 0) 0%, #1C1C1C 100%);;

  .titleContainer {
    text-align: center;
    margin-bottom: 120px;
    margin-top: 50px;

    .title {
      color: #E72A70;
      font-size: 22px;
      font-weight: 500;
    }

    .secondaryTitle {
      font-size: 42px;
      font-weight: 700;
    }
  }

  .faqContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}