.container {
  width: 100%;
  padding-bottom: 50px;
  background: #303030;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &::before {
    content: "";
    display: flex;
    width: 100%;
    height: 220px;
    background: #303030;
    background-image: url('../Collections/assets/pinkpattern2.svg');
    background-repeat: repeat-x;
  }

  .titleContainer {
    padding-top: 70px;
    text-align: center;
    z-index: 1;

    .title {
      color: #E72A70;
      font-size: 22px;
      font-weight: 700;
    }

    .secondaryTitle {
      font-size: 42px;
      font-weight: 700;
    }
  }

  .arrowContainer {
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 80px;

    .img {
      object-fit: contain;
      width: 95% !important;
      position: relative !important;
      height: unset !important;
    }
  }

  .sliderContainer {
    justify-content: center;
    width: 75%;
    margin-top: 80px;
  }
}