.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E72A70;

  &::before {
    content: '';
    width: 100%;
    display: flex;
    height: 128px;
    background-image: url('./assets/pattern.svg');
    background-color: #1C1C1C;
  }

  .bgContainer {
    width: 90%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('./assets/skulls.webp');
    background-size: 100%;
    gap: 40px;
    filter: brightness(1.1);

    .titleContainer {
      font-size: 70px;
      font-weight: 700;
    }

    .socialContainer {
      display: flex;
      gap: 100px;
      align-items: center;

      .icon {
        transition: 0.2s;
        cursor: url('../../../../public/spray.png'), pointer;

        &:hover {
          filter: brightness(0.8);
        }

        img {
          width: 80%;
          cursor: url('../../../../public/spray.png'), pointer;
        }
      }
    }

    .copyrightContainer {
      font-weight: 500;
    }
  }
}