@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.carousel {
  display: flex;
  width: 200%;
  animation: carousel 30s linear infinite;
  
  
  img {
    width: 100%;
    height: auto;
    z-index: 0;
    transform: scale(1.15);
  }
}